body {
  width: 100dvw;
  height: 100dvh;
  background: rgb(101, 13, 12);
  background: linear-gradient(
    129deg,
    rgba(101, 13, 12, 1) 4%,
    rgba(174, 9, 23, 1) 22%,
    rgba(100, 13, 14, 1) 90%,
    rgba(224, 0, 26, 1) 100%
  );
  color: #fff;
}

main {
  /* height: calc(100dvh - 70px); */
  height: calc(100dvh - 75px); /* 100vh menos 75px de altura do header */
  display: flex;
  gap: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 75px;
  background-color: var(--color-grey-800);

  & h1 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: var(--font-size-3);
  }

}


aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 512px;
  min-height: 0;
  background-color: var(--color-grey-800);
  overflow-y: auto;

  & h2 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & li button {
      background: linear-gradient(
        to right,
        var(--color-grey-800) 50%,
        var(--color-primary-hover) 50%
      );
      background-size: 185% 100%;
      transition: all 0.3s ease;
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-0);
    }

    & li button:hover {
      background-position: 100% 0;
      cursor: pointer;
    }
  }
}

section {
  border: 1px solid white;
  width: 100%;
  margin: 16px;
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  & button{
    margin: 12px;
    border-color: #fff;
    border-width: 2px;
    color: var(--color-grey-100);
    background-color: var(--color-primary);
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: var(--color-primary-hover);
    }
    &:active {
      background-color: var(--color-primary-active);
    }
  }

}

.outputField {
  width: 512px;
  max-height: 256px;
  min-height: fit-content;
  background-color: var(--color-grey-300);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: var(--padding-7);
  border-radius: var(--radius-output);
  color: var(--color-grey-900);

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
        display: flex;
        flex-direction: column;
        gap: var(--gap-default);
        justify-content: center;
        align-items: center;
    
        & input {
          padding: var(--padding-2);
          border: 2px solid #fff;
          border-radius: var(--radius-input);
          background-color: var(--color-grey-100);
          outline-color: var(--color-grey-100);
        }
      }
  }
}